# The connection URL for the primary database
DATABASE_URL=mongodb://admin:password@localhost:27017/expenses-management?authSource=admin

# Base URL of the Keycloak server
KC_BASE_URL="http://localhost:8080"

# Client ID for the web application in Keycloak
KC_WEB_CLIENT_ID="avonet-web-client"

# Client secret for the web application in Keycloak (replace 'secret' with the actual secret)
KC_WEB_CLIENT_SECRET="BkPis4ko85jdBuiWc2bbWwKMRN8SFCjB"

# The realm within Keycloak that the application is using
KC_REALM="avonet"